<nz-layout>
  <nz-header>

    <ul nzTheme="dark" nzMode="horizontal">
    </ul>
  </nz-header>
  <nz-content>
    <nz-breadcrumb>

    </nz-breadcrumb>


    <div class="inner-content">
      <h1>Buscador de letras de canciones</h1>
      <br />
      <br />
      <input nz-input placeholder="Nombre de la canción" [(ngModel)]="song" />

      <br />
      <br />
      <input nz-input placeholder="Nombre del artista" [(ngModel)]="artist" />

      <br />
      <br />
      <button class="btn btn-outline-primary" (click)="getLyric()">
        Buscar
      </button>
    </div>



  </nz-content>
  <nz-footer>©2019</nz-footer>
</nz-layout>